<div class="container" >
    <h1>
        Hangman game
    </h1>
    <div>
        <img [src]="currentHangmanImage" width="40%">
    </div>
    <div class="sentence">
        <div *ngFor="let letter of hangmanSentence" class="letter-slot">
            @if (letter) {
                <div class="letter">
                    @if (letter.shown){
                        {{letter.letter}}
                    }
                </div>
                <div>
                    _
                </div>
            }
            @else {
                <div class="space">
                </div>
            }
        </div>
        <div class="letter-slot">
            ?
        </div>
    </div>
    <form class="example-form" [formGroup]="form" (ngSubmit)="onEnter()">
    <mat-form-field class="valentine-form-field">
        <mat-label>Enter letter</mat-label>
        <input matInput name="letter" formControlName="input" autocomplete="off">
    </mat-form-field>
    </form>
    <div [hidden]="isValid" class="error" >
        Please enter only one letter or the full sentence
    </div>
</div>
